/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  font-size: 1.5em;
  line-height: 1.222em;
  font-family: "Pathway Gothic One", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
  background-image: url("../media/ufarm.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 2.25em; /* 40.5 / 18 = 2.25 */
  line-height: 1.0864em; /* 44 / 40.5 = 1.0864 */
  text-align: center;
  color: green;
  text-shadow: 0.05em 0.05em white;
}
h2 {
  font-size: 1.5em; /* 27 / 18 = 1.5 */
  line-height: 1.222em; /* 33 / 27 = 1.222 */
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 1em;
  overflow: hidden;
  text-align: center;
}

li {
  padding: 0.05em;
  margin: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#phoneNumber {
  margin-right: 60px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form {
  background-color: rgba(0, 250, 0, 0.64);
  align-content: center;
  width: 18em;
  border-radius: 0.8em;
  margin: auto;
  margin-top: 0.5em;
}

#button {
  border: yes;
  cursor: pointer;
  background-color: #1FC025;
  font-size: 0.8em;
  padding: 0.45em;
  border-radius: 0.8em;
}

#button:hover {
  background-color: #25B936;
}

#AboutUs {
  top: -2em; /* no work */
}

footer {
  text-align: center;
  color: rgba();
}
